parameters:
    excludes_analyse:
    polluteScopeWithLoopInitialAssignments: true
    dynamicConstantNames:
        - GETID3_OS_ISWINDOWS
    ignoreErrors:
        - '#Instantiated class COM not found#'
        - '#Call to method GetFile\(\) on an unknown class COM#'
        - '#Constant GETID3_HELPERAPPSDIR not found#'
        - '#Constant GETID3_INCLUDEPATH not found#'
        - '#Constant GETID3_ASF_(\w+) not found#'
        -
            message: '#Unreachable statement - code above always terminates#'
            path: getid3/module.archive.szip.php
        -
            message: '#Cannot use \+\+ on#'
            path: getid3/module.audio-video.quicktime.php
        -
            message: "#Offset 'size' does not exist on array#"
            path: getid3/module.audio-video.riff.php
        -
            message: "#Cannot unset offset 'offset' on array#"
            path: getid3/module.audio-video.riff.php
        -
            message: "#Cannot unset offset 'size' on array#"
            path: getid3/module.audio-video.riff.php
        -
            message: '#Unreachable statement - code above always terminates#'
            path: getid3/module.audio.aa.php