parameters:
    excludes_analyse:
    polluteScopeWithLoopInitialAssignments: true
    ignoreErrors:
        - '#Instantiated class COM not found#'
        - '#Call to method GetFile\(\) on an unknown class COM#'
        - '#Function rar_(open|list|close) not found#'
        - '#Function mysql_(\w+) not found#'
        - '#Constant GETID3_HELPERAPPSDIR not found#'
        - '#Constant GETID3_ASF_(\w+) not found#'
